body {
    background-color: rgba(240, 244, 239);
    color: rgb(52, 73, 102);
    font-family: Arial, Helvetica, sans-serif;
}

/* Headers */
h1 {
    font-family: 'Playfair Display';
    font-size: 50px;
}

h2 {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

h3 {
    font-family: 'Playfair Display';
}

h4 {
    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}

/* Paragraph text, bulletpoints */
p,
ul {
    font-family: "Lato", serif;
    font-weight: 350;
    font-style: normal;
}

p.dates {
    font-weight: bold;
}

ul {
    font-size: 16px;
    margin-top: 1px;
}

/* Page Structure */
.main_container {
    /* display: flex; */
    flex-direction: column;
    width: 800px;
    /* margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%; */
    margin: auto;
}

/* Sections: Name, Contact, and Bio */
.section1 {
    display: flex;
    flex-wrap: wrap;
}

.section_column {
    display: flex;
    flex-wrap: wrap;
}

.section2 {
    flex: 3;
}

.section3 {
    flex: 2;
}

/* Boxes: Styling and Labels */
.boxes {
    border: 3px dotted rgb(13, 24, 33);
    background-color: rgb(191, 204, 148);
}

.labels {
    border: 1px solid white;
    line-height: .1px;
    padding-left: 10px;
}


/* Styling: Employment */
/* Information Container */
.roles {
    width: 90%;
}

/* Section title */
.jobHeader {
    display: flex;
}

/* Job title and length of time */
.jobTitle {
    padding: 1%;
}

.jobTime {
    font-size: small;
    align-content: center;
    color: cornsilk;
    margin-left: auto;
    padding: 1%;
}

/* Job divider */
hr {
    width: 50%;
    justify-content: center;
}

/* Styling: Education */
/* Section title */
.eduHeader {
    display: flex;
}

/* Education name and length of time */
.eduTitle {
    padding: 1%;
}

.eduTime {
    font-size: small;
    align-content: center;
    color: cornsilk;
    margin-left: auto;
    padding: 1%;
}

/* Styling: Programming, Language, and Education */
.section3_box {
    margin: 5%;
}

/* Progress Bar */
/* Bar container */
.bar {
    background-color: rgb(147, 147, 147);
    color: white;
    border-radius: 15px;
}

/* Bar with measured progress */
.skill {
    background-color: lightcoral;
    text-align: right;
    padding: 1%;
    border-radius: 15px;
}

/* Skill levels */
/* Programming */
.html {
    width: 80%;
}

.css {
    width: 70%;
}

.javascript {
    width: 5%;
}

/* Languages */
.spanish {
    width: 95%;
}

.korean {
    width: 10%;
}

/* Styling: Boxes */
#box1 {
    width: 60%;
    text-align: end;
    margin-right: 10px;
    padding: 1%;
    align-content: center;
}

#box2 {
    width: 30%;
    margin-left: auto;
    padding: 1%;
}

#box3 {
    width: 100%;
    height: auto;
    margin-top: 10px;
    padding: 3%;
}

#box4 {
    width: 80%;
    height: auto;
    margin-top: 10px;
    padding: 3%;
}

#box5 {
    height: auto;
    margin-top: 10px;
    padding: 3%;
    margin-left: auto;
}